* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

button {
    height: 25px;
    width: 100px;
}

a {
    text-decoration: none;
}

/* Basic Flex Container Styles */

.container {
    display: flex;
    flex-flow: column nowrap;
}

/* Hero Styles */
.hero {
    background-color: #1F2937;
    flex-basis: 28%;
    padding: 0 10%;
}

.heroHeader {
    flex-flow: row nowrap;
    flex-basis: 25%;
    gap: 16px;
}

.heroHeader p {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    
}

.heroMain {
    flex-flow: row nowrap;
    align-items: center;
}

.heroMain img {
    width: 50%;
    height: 100%;
    background-color: gray;
}

.heroMainContent {
    flex-wrap: wrap;
    flex-basis: 50%;
    padding: 10px;
}

.heroMainContent h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.secondaryText {
    font-size: 18px;
    color: #E5E7EB;
}

/* Info Content Styes */
.info {
    flex-basis: 67%;
    padding: 0 10%;
}

.infoContainer {
    flex-basis: 40%;
    align-items: center;
    padding: 32px 10%;
    gap: 32px;
}

.infoItemContainer {
    flex-flow: row nowrap;
    justify-content: space-around;
}

.infoItem {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
}

.infoItem img {
    border: 3px solid blue;
    width: 120px;
    height: 120px;

}

.quote {
    background-color: #E5E7EB;
    flex-basis: 35%;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.quote blockquote {
    text-align: center;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote figcaption {
    align-self: flex-end;
    font-weight: bold;
}

.signUp {
    background-color: #3882F6;
    flex-flow: row nowrap;
    flex-basis: 15%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.signUp h3 {
    color: #F9FAF8;;
}

/* Footer Styles */

.footer {
    background-color: #1F2937;
    flex-basis: 5%;
    padding: 0 10%;
    justify-content: center;
    align-items: center;
}
